<main class="container">
  <div class="row p-4 p-md-5 mb-4 mt-3">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="blog-post-title display-5">{{blog.title | titlecase}}</h2>
        <p class="blog-post-meta">{{blog.fechaFormat}}</p>
        <div *ngFor="let item of blog.content">
          <img *ngIf="item.imagePath != ''" class="img-blog-post" alt="{{item.imagePath}}" [src]="urlServer + item.imagePath">
          <p class="mt-4">{{item.text}}</p>
          <hr>
        </div>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" [routerLink]="['/blog']" >Ver Todos Los Blogs</a>
      </nav>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 4rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">{{blog.tag[0].title}}</h4>
          <p class="mb-0">{{blog.tag[0].description}}</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Blogs Populares</h4>
          <ol *ngFor="let popular of popularBlogs" class="list-unstyled mb-0">
            <hr><li><a href="#">{{popular.title}} (leido: {{popular.views}} veces)</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Blogs Recientes</h4>
          <ol *ngFor="let last of lastBlog" class="list-unstyled mb-0">
            <hr><li><a href="#">{{last.title}} - {{last.fechaFormat}}</a></li>
          </ol>
        </div>

      </div>
    </div>
  </div>
</main>
