.card-text
  width: 250px
  overflow: hidden
  text-overflow: ellipsis
  height: 116px

.blog-img-div
  display: flex
  flex-direction: column
  height: 250px
  width: 200px
  margin-bottom: auto
  margin-top: auto

.background-blog
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  color: #fff0

.background-blog:hover
  background-color: #000000b5
  cursor: pointer
  color: #ffffff

.all-shit
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0

.select-label
  margin-top: 1rem
  margin-right: 1rem

.form-select
  width: auto
  background-color: #f0f5fa00
  box-shadow: inset 2px 2px 8px rgba(55,94,148,.3),inset -3px -2px 5px rgba(255,255,255,.8)
  margin-left: 1rem

.form-select-order
  background-color: #f0f5fa
  margin-left: 0

@media screen and (min-width: 1200px)
  .blog-img
    width: auto
    max-height: 254px
    min-height: 100%
    min-width: 100%

@media screen and (max-width: 1199px)
  .blog-img-div
    width: 100%

  .card-text
    width: 100%

  .blog-img
    height: auto
    max-width: 200px
    min-width: 100%
    min-height: 100%
