.card-text
  width: 250px
  overflow: hidden
  text-overflow: ellipsis
  height: 76px

.blog-img-div
  display: flex
  flex-direction: column
  height: 250px
  width: 200px

.blog-img
  max-height: 100%
  width: auto


