<main class="container">

  <div class="row p-4 p-lg-5 mb-4 pe-lg-3 text-white rounded bg-dark">
    <div class="col-lg-10 px-0 pe-lg-3">
      <h1 class="display-3 fst-italic">{{lastBlog.title}}</h1>
      <strong class="d-inline-block mb-2 text-muted">{{lastBlog.fechaFormat}}</strong>
      <p class="lead my-3 content-last">{{lastBlog.content[0].text}}</p>
      <p class="lead mb-0"><a (click)="redirect(lastBlog._id)" class="text-white fw-bold">... ver más</a></p>
    </div>
    <div class="col-2 d-none d-lg-block icon-area">
      <div class="icon-area-align">
        <div class="d-flex justify-content-center">
          <i class="bi bi-calendar2-event" style="font-size: 80px;"></i>
        </div>
        <div class="d-flex justify-content-center">
          <p class="text-white fw-bold">Último Blog</p>
        </div>
      </div>
    </div>
  </div>

  <div class="py-2">
    <h2 class="blog-post-title py-4 display-6">¿Que es lo que buscas?</h2>
    <div class="tag-principal">
      <div class="tag-card">
        <div *ngFor="let tag of tags" style="width: 100%;">
          <div class="d-flex justify-content-center tag-content">
            <h2 class="d-none d-lg-block">{{tag.title}}</h2>
            <h2 class="d-lg-none" [style]="'color:'+ tag.color">{{tag.title}}</h2>
            <i class="bi bi-circle-fill tag-circle d-none d-lg-block" [style]="'color:'+ tag.color"></i>
          </div>
          <p class="tag-desc">{{tag.description}}</p>
          <p>
            <a class="btn btn-secondary d-none d-lg-block" href="#">Ver Blogs Relacionados »</a>
            <a class="btn btn-secondary d-lg-none" href="#">Ver »</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 py-2">
    <h2 class="blog-post-title py-4 display-6">Publicaciones populares</h2>
    <div class="d-md-flex flex-md-equal w-100" style="cursor: pointer;">
      <div *ngFor="let popular of popularBlogs" style="width: 100%; margin-right: 30px; margin-left: 30px;" (click)="redirect(popular._id)">
        <div class="text-center overflow-hidden border rounded shadow-sm w-100 w-sm-50 mx-2">
          <div class="my-3 p-3 text-content-popular">
            <h2 class="display-10">{{popular.title}}</h2>
            <p class="lead">{{popular.content[0].text}}</p>
          </div>
          <img *ngIf="popular.principalImagePath != ''" class="bg-light shadow-sm mx-auto" alt="{{popular.principalImagePath}}" [src]="urlServer + popular.principalImagePath" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img *ngIf="popular.principalImagePath == ''" class="bg-light shadow-sm mx-auto" alt="{{popular.principalImagePath}}" src="assets/public/blogs/default.jpg" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
      </div>
    </div>
  </div>
</main>
