<div class="text-center">
  <main class="form-signin">
    <form [formGroup]="form">
      <img class="mb-4" src="assets/icono.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 fw-normal">Bienvenido al sistema de administración</h1>

      <div class="form-floating">
        <input formControlName="userLogin" type="text" class="form-control" id="userLogin" placeholder="Usuario" [ngClass]="{'required' : (form.get('userLogin')?.hasError('required') && form.get('userLogin')?.touched)}">
        <label style="color: rgba(255, 0, 0, 0.54);" for="floatingInput" *ngIf="form.get('userLogin')?.hasError('required') && form.get('userLogin')?.touched">Usuario es <strong>obligatorio</strong></label>
        <label for="floatingInput" *ngIf="!(form.get('userLogin')?.hasError('required') && form.get('userLogin')?.touched)">Usuario</label>
      </div>
      <div class="form-floating">
        <input formControlName="passLogin" type="passLoginword" class="form-control" id="passLogin" placeholder="Contraseña" [ngClass]="{'required' : (form.get('passLogin')?.hasError('required') && form.get('passLogin')?.touched)}">
        <label style="color: rgba(255, 0, 0, 0.54);" for="floatingPassword" *ngIf="form.get('passLogin')?.hasError('required') && form.get('passLogin')?.touched">Contraseña es <strong>obligatoria</strong></label>
        <label for="floatingPassword" *ngIf="!(form.get('passLogin')?.hasError('required') && form.get('passLogin')?.touched)">Contraseña</label>
      </div>

      <button class="w-100 btn btn-lg btn-outline-primary" type="submit" (click)="login()">Ingresar</button>
      <button class="w-100 btn btn-lg btn-outline-secondary" type="submit" (click)="cancel()">Cancelar</button>

      <p class="mt-5 mb-3 text-muted">© 2023 joven-claretiano, blog</p>
    </form>
  </main>
</div>
