<main class="container">
  <div class="row p-4 p-md-5 mb-4">
    <div class="col-md-2"></div>
    <div class="col">
      <form action="https://formsubmit.co/renzo.davila@tecsup.edu.pe" method="POST">
        <div class="mb-3">
          <label class="form-label" for="name">Nombre</label>
          <input class="form-control" type="text" name="name" placeholder="Nombre" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="emailAddress">Email</label>
          <input class="form-control" type="email" name="email" placeholder="Email" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="message">Mensaje</label>
          <textarea class="form-control" type="text" name="message" placeholder="Mensaje"
            style="height: 10rem;"></textarea>
        </div>
        <div class="d-grid">
          <button class="btn btn-outline-primary btn-lg" type="submit">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-phone"></span>
        </div>
        <div class="text">
          <p><span>Teléfono: </span> <a href="tel://946415520">+51 946 415 520</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-paper-plane"></span>
        </div>
        <div class="text">
          <p><span>Email: </span> <a href="mailto:franco@joven-claretiano.com">franco@joven-claretiano.com</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</main>
