/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr'
@import "~bootstrap-icons/font/bootstrap-icons.css"

.pointer
  cursor: pointer

.tooltip
  position: relative
  display: inline-block
  border-bottom: 1px dotted black

a
  cursor: pointer
