<div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 title-dashboard">Blogs</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-outline-success d-none d-md-block" [routerLink]="['/dashboard/crear-blog']" style="margin-top: 10px">Crear Nuevo</button>
      <button type="button" class="btn btn-outline-success btn-action d-md-none" [routerLink]="['/dashboard/crear-blog']" style="margin-top: 10px"><i class="bi bi-file-earmark-plus btn-action-icon"></i></button>
    </div>
  </div>

  <app-pagination [registers]="registers" [pagination]="pagination" (pageChange)="pageChange($event)"></app-pagination>

  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr class="col-head">
          <th scope="col">Titulo</th>
          <th scope="col">Fecha Creado</th>
          <th scope="col" style="min-width: 80px;">Hora Creado</th>
          <th scope="col">Fecha Editado</th>
          <th scope="col" style="min-width: 80px;">Hora Editado</th>
          <th scope="col">Tag</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="dataExists">
        <tr *ngFor="let blog of blogs">
          <td>{{blog.title}}</td>
          <td>{{blog.fechaCreatedFormat}}</td>
          <td>{{blog.horaCreatedFormat}}</td>
          <td *ngIf="blog.state == 'C'">-</td>
          <td *ngIf="blog.state == 'C'">-</td>
          <td *ngIf="blog.state == 'E'">{{blog.fechaEditedFormat}}</td>
          <td *ngIf="blog.state == 'E'">{{blog.horaEditedFormat}}</td>
          <td>{{blog.tag.title}}</td>
          <td class="d-flex justify-content-center">
            <a [routerLink]="['/dashboard/editar-blog', blog._id]">
              <i class="bi bi-pencil-square"></i>
            </a> <div style="margin-left: 1rem">
            </div>
            <a (click)="deleteData(blog._id)">
              <i class="bi bi-trash-fill"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="d-flex justify-content-center" *ngIf="!dataExists">No existen registros actualmente</p>
  </div>

</div>
