.title-dashboard
  z-index: 1

.btn-action-icon
  font-size: 2.2rem

.btn-action
  padding-top: 0rem
  padding-right: 0.65rem
  padding-bottom: 0rem
  padding-left: 0.65rem

// .bi
//   margin-right: 0.65rem
//   margin-left: 0.65rem

.bi-pencil-square, .bi-trash-fill
  font-size: 1.6rem

.bi-pencil-square
  color: #5b62f4

.bi-trash-fill
  color: #e52527

.group-align-icon
  position: relative
  left: 50%
